// Variables
$color1: #56aff7; // Background
$color2: #2382c6; // Dark background
$color3: #7bcafc; // Light background
$text_color: #0d3049;

$header_font: Times New Roman;
$main_font: arial,helvetica,clean,sans-serif;

// Can be changed to be page specific
$max_width: if(variable-exists(max_width), $max_width, 1000px);
$min_width: if(variable-exists(min_width), $min_width, 360px);

.bordered_box{
	background: $color3;
    border: medium solid $text_color;
    margin: 5px;
    padding: 5px;
}

.nodrag{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $color1;
}

article{
	width: 100%;
	box-sizing:border-box;
	max-width: $max_width;
	min-width: $min_width;
	margin:auto;
	font-family: $main_font;
	padding: 5px;
}

h1 {
    font-size: 138.5%;
    margin-top:14px;
    margin-bottom:14px;
}

h1, h2{
    font-family: $header_font;	
}
