nav{
	@extend .nodrag;
	width: 100%;
	max-width: $max_width;
	min-width: $min_width;
	margin:auto;
	background: $color2;
	box-sizing:border-box;
	border-top: medium solid $text_color;
	border-bottom: medium solid $text_color;
	border-right: medium solid $text_color;
}

nav>ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;
	width: 100%;
    padding: 0;
    margin: 0;
}
nav>ul>li {
    flex-grow: 1;
	flex-basis: 20%;
    list-style: none;
    display:flex;
    table-layout: fixed;
    align-items: stretch;
    align-content: stretch;
    box-sizing:border-box;
    border-left: medium solid $text_color;
}

nav>ul>li>a {
    display: flex;
    align-items: center;
    align-content: center;
    box-sizing:border-box;
    text-align:center;
    width: 100%;
    padding: 6px;
    color:inherit;
    @media (min-width: 600px){
		padding:10px;
		padding-left:3px;
		padding-right:3px;
	}
    text-decoration: none;
    &:hover{background-color: $color3;}
    
    div{
    width:100%;
    text-align: center;
    font-size: 15px;
	    @media (min-width: 600px){
			font-size:20px;
		}
    }
}

#site_logo{
	text-align:center;
	min-width: $min_width;
}
#site_logo img{
	max-width:100%;
}

footer{
	width:100%;
	text-align:center;
	padding-bottom:10px;
}