$color_main1: #5bbaff; // Main color
$color_main2: #2586CC; // Darker main color
$color_light: #7AC7FF; // Light color
$color_dark1: #17537F; // Dark
$color_dark2: #1C2E3B; // Very dark

$max_width: 1000px;
$min_width: 360px;

$main_font: Helvetica, Verdana, sans-serif;
$header_font: "Times New Roman", serif, Times;

.nodrag{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%clearfix{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

%main-content{
  min-width: $min_width;
  max-width: $max_width;
  margin: auto;
  width: 100%;
  display: block;
}

%bordered-box{
	background: $color_main1;
  border: 2px solid $color_dark2;
  padding: 5px;
  box-sizing: border-box;
}

%button{
  background: $color_main2;
  text-align: center;
  border: 1px solid $color_dark2;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    background: $color_light;
  }
}