@import "base";
@import "nav";


.comment_table{
    width: 100%;
    background: $text_color;
    padding:2px;
    color: #0d3049;
}
.top_row{
    background: $color2;
    font-weight: bold;
    text-align: center;
}
.comment{
    background: $color3;
}
.private_comment{
    background: #A9CFE6;
}
.comment_name{
    text-align:center;
    width: 20%;
}
.comment_text{
    vertical-align: top;
}
.post_date{
    font-size:14px;
}
.comment_table td{
    padding: 8px;
}
#leave_comment{
    margin-top: 10px;
    input[type="text"], textarea{
    	width:100%;
    	max-width:450px;
    }
}
#message_error, #name_error{
    margin-left: 7px;
    color: #F56A6A;
}