#game {
	width: 800px;
	height: 560px;
	margin: auto;
	background: black;
	position: relative;
	overflow: hidden;
}

#maingame{
	position: absolute;
}

#top {
	width: 792px;
	height: 72px;
	background-color: darkgoldenrod;
	border: solid 4px olive;
}

#top > div {
	display: inline-block;
}

#playername {
	width: 90px;
	height: 73px;
	border-right: solid 4px olive;
	position: absolute;
	display: inline-block;
	text-align: center;
}

#playerbarstats {
	width: 100px;
	height: 72px;
	position: absolute;
	margin-left: 105px;
	display: inline-block;
}

#playerbarstats p {
	margin-top: -3px;
	margin-bottom: 0px;
}

.playerBar {
	width: 100px;
	height: 10px;
	background: white;
	border: none;
}

#playerHealthBar {
}

#playerHealthBar div {
	background: red;
}

#playerManaBar div {
	background: blue;
}

#playerstats {
	margin-left: 220px;
	display: inline-block;
}

#playerstats2 p {
	margin: 4px;
}

#monstername {
	width: 90px;
	height: 73px;
	border-left: solid 4px olive;
	margin-left: 410px;
	position: absolute;
	text-align: center;
}

#monsterstats {
	position: absolute;
	margin-left: 210px;
	z-index: 2;
	display: inline-block;
}

#monsterbarstats {
	width: 100px;
	height: 72px;
	position: absolute;
	margin-left: 300px;
	z-index: 2;
}

#monsterHealthBar {
}

#monsterHealthBar div {
	background: red;
}

#monsterManaBar div {
	background: blue;
}

#gamescreen {
	width: 800px;
	height: 360px;
	position: relative;
	background: url('img/map.png')
}

#player {
	width: 40px;
	height: 40px;
	position: absolute;
	background: url('img/player1_right.png');
	top: 80px;
	left: 40px;
}

#mountain {
	position: absolute;
	background: url('img/mountain.png');
	width: 278px;
	height: 360px;
	left: 522px;
	z-index: 2;
	pointer-events: none;
}

#battlescreen {
	background: url('img/battlefield1.png');
	z-index: 3;
	width: 800px;
	height: 360px;
	position: absolute;
	display: none;
}

#playerCharacter {
	width: 250px;
	height: 250px;
	position: absolute;
	background: url('img/character_body.png');
	top: 70px;
}

#playerArm {
	background: url('img/woodswordarm.png');
	z-index: 4;
	width: 189px;
	height: 120px;
	top: 9px;
	left: 13px;
	position: absolute;
}

#fireball {
	background: url('img/fireball.png');
	width: 120px;
	height: 70px;
	z-index: 5;
	position: absolute;
	left: 100px;
	top: 10px;
	transform: rotate(20deg);
	display: none;
}

#dragonfire {
	background: url('img/fireball.png');
	width: 120px;
	height: 70px;
	z-index: 5;
	position: absolute;
	left: 600px;
	top: 85px;
	transform: rotate(160deg);
	display: none;
}

.drain {
	width: 322px;
	height: 427px;
	position: absolute;
	background: none;
	top: -90px;
	left: -40px;
	pointer-events: none;
	z-index: 7;
}

#playerDrain {
	background: url('img/heal.png') no-repeat;
}

#monsterDrain {
	background: url('img/drain.png') no-repeat;
}

#monster {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 70px;
	left: 550px;
	display: none;
	z-index: 6;
}

#monsterBody {
	width: 250px;
	height: 250px;
	position: absolute;
	z-index: 6;
}

#monsterArm {
	background: none;
	z-index: 4;
	width: 218px;
	height: 138px;
	left: 5px;
	position: absolute;
	z-index: 5;
}

#dragonMouth {
	z-index: 7;
	width: 203px;
	height: 97px;
	top: 21px;
	left: 9px;
	position: absolute;
}

#playerhit {
	width: 60px;
	height: 60px;
	top: 25px;
	left: 75px;
	z-index: 5;
	position: absolute;
	text-align: center;
	font-size: 45px;
	display: none;
}

#playermanaheal {
	width: 60px;
	height: 60px;
	top: 25px;
	left: 120px;
	z-index: 5;
	position: absolute;
	text-align: center;
	font-size: 45px;
	color: blue;
	display: none;
}

#monsterhit {
	width: 60px;
	height: 60px;
	top: 25px;
	left: 610px;
	z-index: 5;
	position: absolute;
	text-align: center;
	font-size: 45px;
	color: green;
	color: red;
	display: none;
}

#battleactioninfo {
	width: 320px;
	height: 60px;
	position: absolute;
	margin-left: 240px;
	top: 120px;
	text-align: center;
	font-size: 22px;
	background-color: darkgoldenrod;
	border: solid 2px olive;
	border-radius: 10px;
	z-index: 6;
	display: none;
}

#infoScreen {
	position: absolute;
	top: 145px;
	left: 190px;
	border: solid 4px gray;
	width: 400px;
	height: 150px;
	font-size: 22px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	z-index: 7;
	display: none;
	padding-left: 7px;
	padding-right: 7px;
	background-color: silver;
}

#infoScreen li {
	margin: auto;
	text-align: center;
	position: relative;
}

#menuscreen {
	position: absolute;
	border: solid 4px gray;
	width: 792px;
	height: 552px;
	font-size: 22px;
	margin: auto;
	border-radius: 10px;
	z-index: 7;
	background-color: silver;
}

#menuoptions {
	width: 220px;
}

#howtoplaytext {
	position: absolute;
	width: 480px;
	height: 300px;
	top: 100px;
	left: 300px;
}

#name {
	position: absolute;
	width: 480px;
	height: 300px;
	top: 140px;
	left: 300px;
}

ol li {
	background: #eeeeee;
	border-radius: 5px;
	border: 1px solid black;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	font-size: 21px;
	height: 25px;
	width: 200px;
	font-family: Verdana, Arial, Sans-Serif;
	text-align: center;
}

ol .ui-selected {
	background: sandybrown;
}

#bottom li{
	padding-left: 5px;
}

#xptable {
	position: absolute;
	width: 600px;
	height: 300px;
	background: darkgoldenrod;
	z-index: 8;
	top: 110px;
	margin-left: 100px;
	border-radius: 18px;
	border: solid 5px olive;
	text-align: center;
	display: none;
}

#xptable table {
	width: 600px;
	height: 240px;
	position: absolute;
	top: 60px;
	border-top: solid 5px olive;
	background: silver;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	font-size: 22px;
	border-collapse: collapse;
	text-align: center;
}

#xptable table td {
	border: solid 1px olive;
}

#xptable p {
	z-index: 19;
	position: absolute;
	top: 1px;
	left: 445px;
	margin-left: 20px;
	padding-top: 8px;
	border: solid 2px gray;
	width: 140px;
	height: 40px;
	font-size: 22px;
	background-color: silver;
	margin: 3px;
	border-radius: 10px;
}

#victory {
	display: none;
	position:relative;
	z-index: 10;
}

#victoryscreen {
	position: absolute;
	width: 790px;
	height: 370px;
	background: silver;
	z-index: 8;
	border-radius: 9px;
	border: solid 5px olive;
	text-align: center;
}

#victoryscreen h1 {
	font-size: 25px;
}

#victoryscreen p {
	font-size: 18px;
}

.button {
	border: solid 2px gray;
	width: 180px;
	font-size: 18px;
	border-radius: 10px;
}

#timeMachine {
	display: inline-block;
	margin-right: 70px;
	z-index: 9;
	border: solid 2px gray;
	width: 180px;
	font-size: 18px;
	border-radius: 10px;
	height: 70px;
}

#enoughSlaying {
	display: inline-block;
	margin: auto;
	z-index: 9;
	border: solid 2px gray;
	width: 180px;
	font-size: 18px;
	border-radius: 10px;
	height: 70px;
}

#memoryRefresher {
	display: inline-block;
	margin-left: 70px;
	z-index: 9;
	border: solid 2px gray;
	width: 180px;
	font-size: 18px;
	border-radius: 10px;
	height: 70px;
}

#victorystatistics {
	position: absolute;
	width: 790px;
	height: 180px;
	background: silver;
	z-index: 8;
	top: 370px;
	border-radius: 9px;
	border: solid 5px olive;
	text-align: center;
}

#victorystatistics table {
	display: inline-block;
	margin-left: 70px;
	margin-right: 70px;
}

#victorystatistics table tr td {
	padding-left: 15px;
}

#bottom {
	width: 792px;
	height: 112px;
	background-color: darkgoldenrod;
	border: solid 4px olive;
	position: relative;
}

#bottom div {
	display: inline-block;
	position: absolute;
}

#battleCommands {
	margin-left: 10px;
	width: 150px;
	height: 100px;
	display: none;
}

#magicCommands {
	margin-left: 160px;
	width: 150px;
	height: 100px;
	display: none;
}

li {
	border: solid 2px gray;
	width: 140px;
	font-size: 22px;
	background-color: silver;
	margin: 3px;
	border-radius: 10px;
	list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#game div{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.active {
	background: sandybrown;
}

#items {
	position: absolute;
	left: 325px;
	border: solid 2px gray;
	width: 260px;
	height: 90px;
	font-size: 22px;
	padding-left: 7px;
	background-color: silver;
	margin: 3px;
	border-radius: 10px;
}

#itemInfo {
	position: absolute;
	left: 169px;
	border: solid 2px gray;
	width: 140px;
	height: 80px;
	font-size: 22px;
	background-color: silver;
	margin: 3px;
	border-radius: 10px;
	display: none;
	padding:5px;
}

#sword {
	position: absolute;
	margin-top: 5px;
	margin-left: 15px;
	width: 107px;
	height: 33px;
	background: url('img/woodsword.png');
}

#shield {
	position: absolute;
	margin-left: 150px;
	margin-top: -5px;
	display: none;
}

#other {
	margin-left: 610px;
	position: absolute;
}

#description{
	background: #7bcafc;
	border: solid #0d3049;
	margin-top: 15px;
	padding:5px;
}