<section>
  <div class="game-shop-inner-container">
    <h1>Game shop</h1>
    <h2>Player upgrades</h2>
    <div class="upgrade-container">
      <v-game-upgrade
        *ngFor="let upgradeCategory of playerUpgrades"
        [upgradeCategory]="upgradeCategory"
        [hasEnoughMoney]="hasEnoughMoney(upgradeCategory.nextUpgrade)"
        (purchase)="purchase(upgradeCategory, upgradeCategory.nextUpgrade)"
      ></v-game-upgrade>
    </div>
    <h2>Weapon upgrades</h2>
    <div *ngFor="let weaponItem of weaponItems" class="upgrade-container">
      <h3>{{ weaponItem.title }}</h3>
      <div *ngIf="!weaponItem.isPurchased" class="upgrade buy-upgrade">
        <button
          class="upgrade-button"
          [disabled]="!hasEnoughMoney(weaponItem.purchaseInfo)"
          (click)="purchase(undefined, weaponItem.purchaseInfo)"
        >
          Buy
          <br />
          Cost: {{ weaponItem.purchaseInfo.cost }}
        </button>
      </div>
      <div *ngIf="weaponItem.isPurchased">
        <v-game-upgrade
          *ngFor="let upgradeCategory of weaponItem.upgradeCategories"
          [upgradeCategory]="upgradeCategory"
          [hasEnoughMoney]="hasEnoughMoney(upgradeCategory.nextUpgrade)"
          (purchase)="purchase(upgradeCategory, upgradeCategory.nextUpgrade)"
        ></v-game-upgrade>
      </div>
    </div>
  </div>
  <div class="shop-money">Money: {{ money }}</div>
  <button id="close-shop" class="button">x</button>
</section>
