@import "../../../sass/variables";

.button{
  @extend %button;
  padding: 5px 5px;
  margin: 0px;
  display: block; 
  height: 28px;
  box-sizing: border-box;
  font-size: 14px;
}

.add-blog{
  float: right;
  margin-top: 15px;
  margin-right: 5px;
  @media screen and (max-width: 600px){
    margin-top: 0px;
  }
}

a{
  text-decoration: none;  
}

.blog-table{
  @extend %bordered-box;
  padding: 10px;
  width:100%;
  max-width:100%;
  margin: 0;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color_dark2;
    border-top: 1px solid $color_dark2;
  }

  td {
    padding: 5px;
    font-size: 85%;
  }
}

.button-cell{
  width: 80px;
  
  @media screen and (max-width: 600px){
    width: 60px;
  }

  .button{
    width: 100%;
  }
}
