<h1>Rock, Paper, Scissors</h1>
<iframe src="app/projects/rock-paper-scissors/old/index.html"></iframe>
<description-box>
  In this game you fight against the computer in (more or less) traditional game of
  rock, paper, scissors. Using the game settings you can choose how many rounds one game will take. The game will also keep track of your wins, losses and ties (as long as you don't leave the website).
  <br><br>This game is made with Javascript/jQuery, originally in summer 2014. Code was revised in January 2016, when it was put to the website. All graphics in the game are made by me.
</description-box>