@import "../../../sass/variables";

table{
  @extend %bordered-box;
  padding: 10px;
  width:100%;
  margin: 0;
}

.blog-header button{
  float: right;
  background: $color_main2;
  width: 24px;
  height: 24px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border: 1px solid $color_dark2;
}

.blog-date{
  font-size: 75%;
  font-weight: normal;
}

.blog-text{
  border-top: 1px solid $color_dark2;
  padding-top: 5px;
}