<h1>Snow Machine</h1>
<snow-settings></snow-settings>
<description-box>
  With this machine you can produce all kinds of snow and rain.  You can change the settings to affect what snow/rain looks like, how fast it
  is and how many of them are on the screen at once. To apply changes you need to use the reset button (FPS is an exception - it will be applied immediately).
  <br><br>You can also use the snow machine to produce randomized art. If you put 'keep old flakes' setting active, resetting will not erase older flakes - instead they will stop and stay where they are. If you do this multiple times with different kinds of rain (different colors/shapes), you may end up with something nice (either that or it will look like a big mess). Disabling this setting and resetting again will remove all old flakes.
  <br><br>Note that if you use image setting, symbol and color settings will be ignored. Min/max size will change font for symbols and width for images. If image 'width' is set at 0, image's default size will be used.
  <br><br>A word of warning: If you put FPS and count variables extremely high and have slow computer/browser, you may encounter performance problems, which at worst could crash your browser. There likely shouldn't be any problems, but use them with some caution.
</description-box>