<section>
  <color-canvas [red]="red" [green]="green" [blue]="blue" [xDimension]="xDimension" [yDimension]="yDimension"  [zDimension]="zDimension" (selectColor)="selectColor($event)"></color-canvas>
  <section class="color-details">
    <div style="width: 100px; height: 100px;" [style.background]="'rgb(' + red + ', ' + green + ', ' + blue + ')'"></div>
    <label>Hex: <hex-input [red]="red" [green]="green" [blue]="blue" (selectColor)="selectColor($event)"></hex-input></label>
    <br>
    <label>Rgb: <rgb-input [red]="red" [green]="green" [blue]="blue" (selectColor)="selectColor($event)"></rgb-input></label>
    <br>
    <label>Hsl: <hsl-input [red]="red" [green]="green" [blue]="blue" [useDegrees]="hslDegrees" (selectColor)="selectColor($event)"></hsl-input></label>
  </section>
</section>

<section class="settings">
  <div class="sliders">
    <rgb-slider [red]="red" [green]="green" [blue]="blue" [color]="redColor" [showAllDimensions]="rgbSliderAllChannels" [coordinate]="getCoordinate(redColor)" (valueChange)="changeRed($event)"></rgb-slider>
    <br>
    <rgb-slider [red]="red" [green]="green" [blue]="blue" [color]="greenColor" [showAllDimensions]="rgbSliderAllChannels" [coordinate]="getCoordinate(greenColor)" (valueChange)="changeGreen($event)"></rgb-slider>
    <br>
    <rgb-slider [red]="red" [green]="green" [blue]="blue" [color]="blueColor" [showAllDimensions]="rgbSliderAllChannels" [coordinate]="getCoordinate(blueColor)" (valueChange)="changeBlue($event)"></rgb-slider>
    <br>
    <hsl-slider [red]="red" [green]="green" [blue]="blue" [type]="hueChannel" [degrees]="hslDegrees" (valueChange)="selectColor($event)"></hsl-slider>
    <br>
    <hsl-slider [red]="red" [green]="green" [blue]="blue" [type]="saturationChannel" [degrees]="hslDegrees" (valueChange)="selectColor($event)"></hsl-slider>
    <br>
    <hsl-slider [red]="red" [green]="green" [blue]="blue" [type]="lightingChannel" [degrees]="hslDegrees" (valueChange)="selectColor($event)"></hsl-slider>
  </div>
  <div class="slider-settings">
    Z dimension: 
    <label><input type="radio" [(ngModel)]="zDimension" name="zDimension" value="red"> Red</label>
    <label><input type="radio" [(ngModel)]="zDimension" name="zDimension" value="green"> Green</label>
    <label><input type="radio" [(ngModel)]="zDimension" name="zDimension" value="blue"> Blue</label>
    <br>
    Rgb sliders: 
    <label><input type="radio" [(ngModel)]="rgbSliderAllChannels" name="rgbSliderAllChannels" [value]="false"> Display 1 channel</label>
    <label><input type="radio" [(ngModel)]="rgbSliderAllChannels" name="rgbSliderAllChannels" [value]="true"> Display all channels</label>
    <br>
    Hsl mode: 
    <label><input type="radio" [(ngModel)]="hslDegrees" name="hslDegrees" [value]="true"> Degrees</label>
    <label><input type="radio" [(ngModel)]="hslDegrees" name="hslDegrees" [value]="false"> Decimals</label>
  </div>

</section>
<description-box>
  TODO: Color picker description.
</description-box>