<h1>Chess</h1>
<chess-game></chess-game>
<description-box>
  This chess game has 3 game modes. In <b>Player vs computer</b> you can challenge the computer AI and see if you're smarter than a machine. If you have friends you
  want to challenge, you can use <b>Local multiplayer</b> mode (needs to be played on the same monitor). If you feel a little lazy, you can let the computer AI
  do the moves for you in <b>Computer vs computer</b> mode.
  <br><br>With settings you can change the piece layout and make your own chess game. Ever wondered what it would be like to play chess if all pawns were queens? Now you can find out!
  (If there is more than one king, all kings need to be captured. If there aren't any kings, all enemy pieces need to be captured.)
  <br><br>This version of chess has some small changes to the traditional rules:
  <br>- In promotion pawn is automatically promoted to queen.
  <br>- The game will only end once the king is captured, or if a player can't make any moves. Game doesn't prevent players from doing moves which leave king vulnerable.
  <br><br>Update (01.05.2017):
  <br>- En passant and castling moves added.
  <br>- The game will end if player doesn't have any possible moves.
  <br>- Board has been flipped 90 degrees. This can be changed in settings.
  <br>- Move tiles that have enemies are now in red.
  <br>- Game now scales on smaller screens.
  <br>- Game is now written in Angular (previously jQuery) and code has been improved.
</description-box>