<h1>Chess</h1>
<chess-game></chess-game>
<a class='google_badge' href='https://play.google.com/store/apps/details?id=com.voyacode.chess&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
  <img alt='Get it on Google Play' src='images/hangman/google-play-badge.png'/>
</a>
<description-box>
  This chess game has 3 game modes. In <b>Player vs computer</b> you can challenge the computer AI and see if you're smarter than a machine. If you have friends you
  want to challenge, you can use <b>Local multiplayer</b> mode (needs to be played on the same monitor). If you feel a little lazy, you can let the computer AI
  do the moves for you in <b>Computer vs computer</b> mode.
  <br><br>With settings you can change the piece layout and make your own chess game. Ever wondered what it would be like to play chess if all pawns were queens? Now you can find out!
  (If there is more than one king, all kings need to be captured. If there aren't any kings, all enemy pieces need to be captured.)
  <br><br>This version of chess has some small changes to the traditional rules:
  <br>- In promotion pawn is automatically promoted to queen.
  <br>- The game will only end once the king is captured, or if a player can't make any moves. Game doesn't prevent players from doing moves which leave king vulnerable.
  <br><br>The game is also available for free on <a class='google_badge' href='https://play.google.com/store/apps/details?id=com.voyacode.chess&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>Google Play</a> for android devices. It has various extra features and improvements, so check it out.
  <br><br>The code can be found at <a href='https://github.com/Voya100/VoyaCode/tree/master/app/projects/chess'>Github</a>. The code of the android version can be found <a href='https://github.com/Voya100/ReactNativeChess'>here</a>.
  
  <br><br>Update (01.05.2017):
  <br>- En passant and castling moves added.
  <br>- The game will end if player doesn't have any possible moves.
  <br>- Promotion has a higher priority, making infinite king chases less likely.
  <br>- Board has been flipped 90 degrees. This can be changed in settings.
  <br>- Move tiles that have enemies are now in red.
  <br>- Game now scales on smaller screens.
  <br>- Game is now written in Angular (previously jQuery) and code has been improved.
  <br><br>Update (11.06.2017):
  <br>- Fixed a logical error in AI in which pawns got higher priority in situations where they shouldn't have.
  <br>- Pieces that protect the king can now move even when they are protecting the king, if the king remains protected.
  <br>- Chess game is now also available on <a href='https://play.google.com/store/apps/details?id=com.voyacode.chess&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>Google Play</a>!
  <br><br><i>Google Play and the Google Play logo are trademarks of Google Inc.</i>
</description-box>