@import "base";
@import "nav";

.project{
@extend .bordered_box;
display: inline-block;
width:200px;
height:147px;
padding: 0px;
padding-top: 5px;
text-align: center;
font-size: 18px;
font-family: $header_font;
}
.project img{
margin-top: 5px;
}

article{
	text-align:center;
}