<section>
  <div class="main-content">
    <h1>Projects</h1>
    <banner></banner>
    <h1>Newest blog</h1>
    <blog-post *ngIf="blog != null" [blogData]="blog" [visible]="true"></blog-post>
    <div *ngIf="blog == null">Loading blog...</div>
  </div>
  <aside>
    <h1>Welcome!</h1>
    Hello and welcome to my website! This website is intended for my personal coding projects, which may include games and other random stuff. Feel free to test them out and leave feedback in the comments! 
    <br>
    <h1>About me:</h1>
    I'm a 20-year-old Finnish university student, with a huge passion for coding. At the moment I have experience in HTML, Javascript, PHP, Scala, Python and C++.
    <br><br><a href="blogs/blogs.rss"><img alt="RSS" title="RSS" src="images/rss.png"></a>
  </aside>
</section>