<h1>Rock, Paper, Scissors</h1>
<rock-paper-scissors-game></rock-paper-scissors-game>
<description-box>
  In this game you fight against the computer in (more or less) traditional game of
  rock, paper, scissors. Using the game settings you can choose how many rounds one game will take. 
  The game will also keep track of your wins, losses and ties. Your statistics and settings are saved with local storage (or cookies if local storage isn't supported).
  <br><br>
  This original version of the game was made with Javascript/jQuery in summer 2014. 
  Code was revised in January 2016, when it was put to the website. 
  The game was completely rewritten in spring 2017 with Angular. 
  <br>All graphics in the game are made by me.
</description-box>