<div class="bordered_box">
  <form novalidate>
    <div>
      <label title="Symbol for flake/drop, can be any text.">
        Symbol: 
        <input type="text" name="symbol" [(ngModel)]="settings.symbol">
      </label>
    </div>
    <div>
      <label title="URL for image. This setting will override symbol and color settings. Uses default size if min and max size settings are 0.">
        Image: 
        <input type="text" name="img" [(ngModel)]="settings.img">
      </label>
    </div>
    <div>
      <label title="Symbol's color - can be in any format accepted by CSS.">
      Color: 
      <input type="text" name="color" [(ngModel)]="settings.color">
      </label>
    </div>
    <form-row [settings]="settings" name="Min size" id="min_size" description="Minimum size for symbols (font-size) and images (width) (px)." step="1"></form-row>
    <form-row [settings]="settings" name="Max size" id="max_size" description="Maximum size for symbols (font-size) and images (width) (px)." step="1"></form-row>
    <form-row [settings]="settings" name="Min speed" id="min_speed" description="Minimum fall speed (px/frame)" step="1"></form-row>
    <form-row [settings]="settings" name="Max speed" id="max_speed" description="Maximum fall speed (px/frame)" step="1"></form-row>
    <form-row [settings]="settings" name="Min wind" id="min_wind" description="Minimum wind speed (px/frame)" step="1"></form-row>
    <form-row [settings]="settings" name="Max wind" id="max_wind" description="Maximum wind speed (px/frame)" step="1"></form-row>
    <form-row [settings]="settings" name="Count" id="count" description="How many flakes/drops there are at screen at once." step="1"></form-row>
    <div>
      <label title="If set, will keep the current flakes even after reset."><input type="checkbox" name="reset" [checked]="!settings.reset" (change)="settings.reset = !settings.reset"> Keep old flakes</label>
    </div>
    <br><button (click)="reset()">Reset snow/rain</button>
  </form>

</div>