<span class="saved-colors-title">Saved colors</span>

<button (click)="addColor()" title="Saves a new color to local storage.">Add</button>
<button (click)="editColor()" [disabled]="selectedIndex < 0 || selectedIndex >= colors.length" title="Saves current color to currently selected color slot.">Save</button>
<button (click)="removeColor()" [disabled]="selectedIndex < 0 || selectedIndex >= colors.length" title="Removes currently selected color slot.">Remove</button>
<button (click)="addAllHues()" title="Adds 20 colors of different hues using current saturation and lightness settings. Ideal if you want to quickly navigate between colors, or want to compare colors with different saturation/lightness combinations.">Add all hues</button>
<button (click)="removeAll()" [disabled]="!colors.length" title="Removes all saved colors - this can't be reversed.">Remove all</button>

<section class="color-container" *ngIf="colors.length">
  <div *ngFor="let color of colors; let i = index" class="saved-color" [style.background]="getHsl(color)" [class.selected]="selectedIndex === i"
    [title]="getHsl(color, true)" (click)="selectColor(i)">
  </div>
</section>
