@import '../../../sass/variables';

:host {
  min-width: $min_width;
}

header {
  min-width: $min_width - 16px;
  margin: 0 8px;
  text-align: center;
}

nav {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: $max_width;
  margin: auto;
  padding: 0;
  background: $color_main2;
  border-color: $color_dark2;
  border-style: solid;
  border-width: 2px 1px 2px 1px;
  font-family: $header_font;
  @extend %nodrag;
  a {

    display: flex;
    box-sizing: border-box;
    padding: 6px 3px;
    align-items: center;
    border-left: 1px solid $color_dark2;
    border-right: 1px solid $color_dark2;
    color: inherit;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;

    font-size: 120%;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: $color_main1;
    }
  }
}

#site_logo {
  display: inline-block;
  width: 100%;
  min-width: $min_width;
  max-width: $max_width;
  position: relative;
  text-align: center;

  img {
    height: 75px;
    width: 300px;
    max-width: 100%;
    @media screen and(max-width: 450px) {
      height: 50px;
      width: 200px;
    }
  }

  a {
    position: absolute;
    top: 50px;
    right: 20px;
    text-decoration: none;
    @media screen and(max-width: 450px) {
      top: 30px;
    }
  }
}
