@import "../../sass/variables";

:host{
  @extend %main-content;
}

.comment-container{
  width: 100%;
  border: 1px solid $color_dark2;
}

.header{
  @extend %clearfix;
  background: $color_main2;
  text-align: center;
  font-weight: bold;

  .username-header, .comments-header{
    float: left;
    border: 1px solid $color_dark2;
    box-sizing: border-box;
    padding:5px;
  }
  .username-header{
    width: 25%;
    min-width: 25%;
  }
  .comments-header{
    width: 75%;
  }
}

.leave-comment{
  width: 100%;
  background: $color_main1;
  border-collapse: collapse;
  margin-top: 10px;

  .header-row{
    background: $color_main2;
    text-align: center;
  }

  td{
    border: 2px solid $color_dark2;
    padding: 5px;
  }

  .first-cell{
    width: 25%;
  }

  button{
    @extend %button;
    padding: 2px 5px;
    margin: 5px 2px;
    min-width: 24px;
  }
  textarea, .username{
    max-width: 450px;
    width: 80%;
  }
  label{
    @extend %nodrag;
  }
}

.error{
  color: #f90000;
}

.disabled{
  opacity: 0.7;
}

