:host {
  display: block;
  height: 500px;
  width: 500px;
  margin: 0;
  border: 0;
  overflow: hidden;
  border: 1px solid black;
  background: #fdfdfd;
  position: relative;
}

v-game-shop {
  height: 100%;
  overflow-y: auto;
}
