<section class="game-stats">
  <ul>
    <li><label>Health:</label><span id="js-health-value">0/5</span></li>
    <li><label>Money:</label><span id="js-money-value">0</span></li>
    <li><label>Score:</label><span id="js-score-value">0</span></li>
    <li><label title="Best score">Best:</label><span id="js-best-score-value">0</span></li>
    <li><label>Round:</label><span id="js-round-value">1</span></li>
  </ul>
</section>

<section class="game-error" id="game-error">
  <p>Error: <span id="error-description"></span></p>
</section>

<button
  id="skip-round-button"
  class="button"
  title="If a round is skipped, you will get double points for all remaining enemies. The bonus points will be awarded after a wave has been survived without skipping."
>
  Skip round
</button>

<section id="start-screen" class="modal">
  <div class="game-over-container">
    <h2>Monster swarm</h2>
    <button class="button" id="start-game-button">Start</button>
  </div>
</section>

<section id="game-over-screen" class="modal">
  <div class="game-over-container">
    <h2 id="game-over-title">Game over</h2>
    <p>Score: <span id="game-over-score"></span></p>
    <button id="try-again-button" class="button">Try again</button>
    <button id="shop-button" class="button">Shop</button>
  </div>
</section>

<canvas id="game-canvas" width="500" height="500"></canvas>

<section id="weapons-container">
  Weapons:
  <span class="weapon-buttons">
    <button class="weapon-button button" data-weapon-index="0" title="Basic">1</button>
    <button class="weapon-button button" data-weapon-index="1" title="Machine gun">2</button>
    <button class="weapon-button button" data-weapon-index="2" title="Shotgun">3</button>
  </span>
</section>
