.bordered_box, #kuvaus {
  background: #7bcafc;
  border: medium solid #0d3049;
  margin: 5px;
  padding: 5px; }

.nodrag, nav, #sisalto .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #56aff7; }

article {
  width: 100%;
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 790px;
  margin: auto;
  font-family: arial, helvetica, clean, sans-serif;
  padding: 5px; }

h1 {
  font-size: 138.5%;
  margin-top: 14px;
  margin-bottom: 14px; }

h1, h2 {
  font-family: Times New Roman; }

nav {
  width: 100%;
  max-width: 1000px;
  min-width: 790px;
  margin: auto;
  background: #2382c6;
  box-sizing: border-box;
  border-top: medium solid #0d3049;
  border-bottom: medium solid #0d3049;
  border-right: medium solid #0d3049; }

nav > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  padding: 0;
  margin: 0; }

nav > ul > li {
  flex-grow: 1;
  flex-basis: 20%;
  list-style: none;
  display: flex;
  table-layout: fixed;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  border-left: medium solid #0d3049; }

nav > ul > li > a {
  display: flex;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 6px;
  color: inherit;
  text-decoration: none; }
  @media (min-width: 600px) {
    nav > ul > li > a {
      padding: 10px;
      padding-left: 3px;
      padding-right: 3px; } }
  nav > ul > li > a:hover {
    background-color: #7bcafc; }
  nav > ul > li > a div {
    width: 100%;
    text-align: center;
    font-size: 15px; }
    @media (min-width: 600px) {
      nav > ul > li > a div {
        font-size: 20px; } }

#site_logo {
  text-align: center;
  min-width: 790px; }

#site_logo img {
  max-width: 100%; }

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }

#sisalto {
  width: 780px;
  height: 470px;
  background-color: cadetblue;
  margin: auto;
  border: solid #0d3049;
  margin-top: 15px;
  overflow: hidden; }

#sisalto h1 {
  color: powderblue; }
#sisalto p {
  color: powderblue; }
#sisalto .pistetaulu {
  height: 70px;
  width: 50px;
  background-color: darkcyan;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  border: 4px solid lightseagreen;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
  color: powderblue;
  line-height: 70px; }
#sisalto #ylaosa {
  text-align: center;
  width: 780px;
  height: 120px;
  margin: auto; }
#sisalto #alaosa {
  position: relative; }
#sisalto #ylaosa div {
  vertical-align: middle; }
#sisalto #otsikko {
  background-color: darkcyan;
  height: 70px;
  width: 420px;
  text-align: center;
  display: inline-block;
  border-radius: 90px;
  border: 4px solid lightseagreen;
  font-size: 40px;
  line-height: 70px;
  vertical-align: middle;
  color: powderblue;
  font-family: Times New Roman; }
#sisalto .pelaajatiedot, #sisalto .tietokonetiedot {
  display: inline-block;
  width: 90px; }
#sisalto .pelaajatiedot img, #sisalto .tietokonetiedot img {
  padding-left: 12px;
  padding-right: 12px;
  background-color: darkcyan;
  border-radius: 10px;
  text-align: center;
  border: 4px solid lightseagreen; }
#sisalto #pelaajanimi, #sisalto #tietokonenimi {
  border-radius: 10px;
  text-align: center;
  border: 4px solid lightseagreen;
  display: inline-block;
  height: 40px;
  width: 80px;
  background-color: darkcyan;
  position: relative;
  margin-top: 0px;
  font-size: 17px;
  vertical-align: middle;
  line-height: 40px; }
#sisalto #keskitys {
  margin: auto;
  width: 760px;
  height: 300px;
  text-align: center; }
#sisalto #keskitys div {
  vertical-align: top; }
#sisalto #aloitusnaytto {
  display: inline-block;
  height: 300px;
  width: 400px;
  background-color: darkcyan;
  border-radius: 10px;
  text-align: center;
  border: 4px solid lightseagreen; }
#sisalto #tilastonaytto {
  display: inline-block;
  height: 300px;
  width: 340px;
  background-color: darkcyan;
  border-radius: 10px;
  text-align: center;
  border: 4px solid lightseagreen;
  float: right; }
#sisalto ol {
  list-style-type: none;
  position: relative;
  left: -20px; }
#sisalto ol li {
  background: #eeeeee;
  border-radius: 5px;
  border: 1px solid black;
  margin: 3px;
  padding: 0.4em;
  font-size: 1em;
  height: 16px;
  cursor: pointer;
  font-family: Verdana, Arial, Sans-Serif; }
#sisalto ol .ui-selected, #sisalto .ui-selectable li:hover, #sisalto #valinta li:hover, #sisalto #pelitulos li:hover {
  background: lightSkyBlue;
  color: white; }
#sisalto ol li:hover {
  background: lightSkyBlue;
  color: white; }
#sisalto .style {
  color: red; }
#sisalto #valintaruutu {
  text-align: center;
  height: 300px;
  width: 400px;
  background-color: darkcyan;
  position: relative;
  margin-left: -10px;
  margin: auto;
  border-radius: 10px;
  border: 4px solid lightseagreen;
  display: none; }
#sisalto #kierrostulos {
  background-color: darkcyan;
  height: 70px;
  width: 450px;
  text-align: center;
  border-radius: 90px;
  border: 4px solid lightseagreen;
  margin: auto;
  display: none;
  font-size: 22px; }
#sisalto #pelitulos {
  background-color: darkcyan;
  height: 180px;
  width: 450px;
  text-align: center;
  border-radius: 90px;
  border: 4px solid lightseagreen;
  margin: auto;
  display: none; }
#sisalto #kirjoitaNimi {
  text-align: left;
  font-size: 20px;
  z-index: 1;
  padding-left: 15px;
  display: none; }
#sisalto #nappi {
  height: 30px;
  width: 70px;
  background-color: lightseagreen;
  position: relative;
  top: 10px;
  color: white;
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer; }
#sisalto #kierrosmaara {
  z-index: 1;
  text-align: center;
  display: none; }
#sisalto #kierrosmaara div {
  margin: auto; }
#sisalto #plus, #sisalto #minus {
  height: 60px;
  width: 60px;
  background-color: lightseagreen;
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  font-size: 45px;
  cursor: pointer; }
#sisalto #kierrosluku {
  height: 80px;
  width: 80px;
  background-color: lightseagreen;
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  font-size: 70px;
  margin-top: 10px !important;
  margin-bottom: 10px !important; }
#sisalto #saannot {
  width: 320px;
  height: 300px;
  z-index: 1;
  text-align: center;
  display: none;
  margin: auto; }
#sisalto #tilastot {
  vertical-align: middle;
  z-index: 1;
  display: none;
  font-size: 22px; }
#sisalto #img {
  margin: auto;
  width: 780px; }
#sisalto #img div {
  position: absolute;
  display: none; }
#sisalto #img1 {
  top: 80px;
  left: 30px; }
#sisalto #img2 {
  top: 80px;
  left: 480px; }
#sisalto #img3 {
  left: 300px;
  top: 100px; }
#sisalto .noselect {
  user-select: none; }

#kuvaus {
  width: 770px;
  margin: auto;
  margin-top: 15px; }

/*# sourceMappingURL=rock_paper_scissors.css.map */
