@import "../sass/variables";

html{
  height: 100%;
  overflow-y: scroll;
}
body{
  min-height: 100%;
  display: flex;
}

html, body{
  font-size:16px;
  line-height:1.4;
  font-family: $main_font;
  color: $color_dark2;
  background: $color_light;
  margin:0;
}

voya-app{
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  
}

main{
  box-sizing: border-box;
  padding: 8px;
  min-height: 70%;
  width: 100%;
}

h1, h2, h3{
  font-family: $header_font;
  margin: 12px 0;
}

h1{
  font-size: 200%;
}

h2{
  font-size: 150%;
}

h3{
  font-size: 120%;
}

@media screen and (max-width: 600px){
  html, body{
    font-size: 12px;
  }
}

@media screen and (max-width: 450px){
  html, body{
    font-size: 10px;
  }
}