#sisalto{
    width: 780px;
    height: 470px;
    background-color: cadetblue;
    margin:auto;
    border: solid #0d3049;
    margin-top: 15px;
    overflow: hidden;
}

h1{
    color: powderblue;
}

p {
    font-family: Candara, Arial;
    color: powderblue;
}

.pistetaulu {
    height: 70px;
    width: 50px;
    background-color: darkcyan;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    border: 4px solid lightseagreen;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: powderblue;
    line-height: 70px;
}


#ylaosa {
    text-align:center;
    width: 780px;
    height: 120px;
    margin: auto; 
}
#alaosa{
	position: relative;
}

#ylaosa div{
	vertical-align: middle;
}


#otsikko{
    background-color:darkcyan;
    height: 70px;
    width: 420px;
    text-align: center;
    display:inline-block;
    border-radius: 90px;
    border: 4px solid lightseagreen;
    font-size: 40px;
    line-height: 70px;
    vertical-align: middle;
    color: powderblue;
}
    
.pelaajatiedot, .tietokonetiedot {
    display: inline-block;
    width: 90px;    
}
.pelaajatiedot img, .tietokonetiedot img{
	padding-left: 12px;
	padding-right: 12px;
    background-color: darkcyan;
    border-radius: 10px;
    text-align: center;
    border: 4px solid lightseagreen;
}

#pelaajanimi, #tietokonenimi {
    border-radius: 10px;
    text-align: center;
    border: 4px solid lightseagreen;
    display: inline-block;
    height: 40px;
    width: 80px;
    background-color: darkcyan;
    position: relative;
    margin-top: 0px;
    font-size: 17px;
    vertical-align: middle;
    line-height: 40px;
}

#keskitys {
    margin: auto;
    width: 760px;
    height: 300px;
    text-align: center;
}
#keskitys div{
	vertical-align: top;
}

#aloitusnaytto {
    display: inline-block;
    height: 300px;
    width: 400px;
    background-color: darkcyan;
    border-radius: 10px;
    text-align: center;
    border: 4px solid lightseagreen;

}

#tilastonaytto {
    display: inline-block;
    height: 300px;
    width: 340px;
    background-color: darkcyan;
    border-radius: 10px;
    text-align: center;
    border: 4px solid lightseagreen;

}

ol {
    list-style-type: none;
	position: relative;
	left: -20px;
}

ol li {
	background: #eeeeee;
	border-radius: 5px;
	border: 1px solid black;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	height: 16px;
	cursor: pointer;
	font-family: Verdana, Arial, Sans-Serif;
}

ol .ui-selected, .ui-selectable li:hover, #valinta li:hover, #pelitulos li:hover {
	background: lightSkyBlue; color: white;
}

ol li:hover{
	background: lightSkyBlue; color: white;
}

.style {
  color: red;  
}

#valintaruutu {
    text-align:center;
    height: 300px;
    width: 400px;
    background-color: darkcyan;
    position: relative;
    margin-left: -10px;
    margin: auto;
    border-radius: 10px;
    border: 4px solid lightseagreen;
    display: none;
}

#kierrostulos {
    background-color:darkcyan;
    height: 70px;
    width: 450px;
    text-align: center;
    border-radius: 90px;
    border: 4px solid lightseagreen;
    margin: auto;
    display: none;
    font-size: 22px;
}

#pelitulos {
    background-color:darkcyan;
    height: 180px;
    width: 450px;
    text-align: center;
    border-radius: 90px;
    border: 4px solid lightseagreen;
    margin: auto;
    display: none;
}

#kirjoitaNimi {
	text-align: left;
    font-size: 20px;
    z-index:1;
    padding-left:15px;
    display: none;
}
#nappi {
    height:30px;
    width:70px;
    background-color:lightseagreen;
    position: relative;
    top:10px;
    color: white;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
	cursor: pointer;
} 
#kierrosmaara{    
    z-index:1;
    text-align: center;
    display: none;
}
#kierrosmaara div{
	margin:auto;
}

#plus, #minus{
    height: 60px;
    width: 60px;
    background-color: lightseagreen;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
    font-size: 45px;
	cursor: pointer;
}

#kierrosluku{
    height: 80px;
    width: 80px;
    background-color: lightseagreen;
    border-radius: 7px;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
#saannot{
    width: 320px;
    height: 300px;
    z-index:1;
    text-align: center;
    display: none;
    margin:auto;
}
#tilastot{
    vertical-align:middle;
    z-index:1;
    display: none;
    font-size: 22px;
}
#img{
    margin: auto;
    width: 780px;    
}
#img div{
	position: absolute;
	display: none;
}
#img1{
    top: 80px;
    left:30px;
}
#img2{
    top: 80px;
    left: 480px;
}
#img3{
    left:300px;
    top: 100px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#kuvaus, #kuvaus p, #kuvaus h1{
	width: 770px;
	margin:auto;
	color: #0d3049;
}

#kuvaus{
	background: #7bcafc;
	border: solid #0d3049;
	margin-top: 15px;
	padding:5px;
}