@import '../../../sass/variables';

:host {
  @extend %main-content;
}

.project {
  width: calc(50% - 4px);
}

.project,
.block {
  @extend %bordered-box;
  margin: 5px 2px;
  text-align: center;
  float: left;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

hr {
  border-color: $color_main2;
}
