@import "../../../../../sass/variables";
@import '../../rps-variables';

:host{
  @extend %clearfix;
  display: block;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

section, aside{
  width: 49%;
  @extend %rps-box;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 10px;
}
section{
  float: left;
}

aside{
  float: right;
  vertical-align: middle;
}

a{
  display: block;
  background: white;
  text-align: center;
  padding:3px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    background: $hoverColor;
    color:white;
  }
}