@import "../../sass/variables";

:host{
  @extend %main-content;
}
.container{
  display: flex;
  justify-content: space-between;
}

blog-post{
  margin-bottom: 10px;
}

section{
  width: 75%;
}

aside{
  width: 24%;
}

.filters{
  @extend %bordered-box;
  width: 100%;
  text-align: center;
  button{
    @extend %button;
    padding:7px;
    margin-top: 5px;
    line-height: 1;
  }
  label{
    @extend %nodrag;
  }
}

@media screen and (max-width: 600px){
  .container{
    flex-direction: column-reverse;
    section, aside{
      width:100%;
    }
    aside{
      margin-bottom: 8px;
    }
    .filters .checkbox-container{
      display: inline-block;
    }
  }
}