@import '../../../../sass/variables';

:host {
  display: block;
}

div {
  margin: 0px;
  margin-top: 15px;
  box-sizing: border-box;
  width: 100%;
  background: $color_main1;
  border: 2px solid $color_dark2;
  padding: 10px;
  display: block;
}
