<h1>Blog subscription</h1>
<form (ngSubmit)="sendConfirmation()" #emailForm="ngForm">
  <input [(ngModel)]="email" [disabled]="loading" name="email" placeholder="Email address" required>
  <button [disabled]="loading || !emailForm.form.valid" type="submit">Send</button>
</form>
<p *ngIf="requestMessage">{{requestMessage}}</p>
<p>
  You can subscribe to Voya Code's blog newsletter by writing your email to input field above. When subscribed, you will get
  email notification every time a new blog gets added to Voya Code.
  <br>
  <br>If you no longer want to get blog notifications, you can unsubscribe anytime from link that is provided with every newsletter.
  <br>
  <br>
  <b>Note:</b> At the moment, Outlook/Hotmail blocks all emails sent, so you likely won't be able to subscribe with those email
  addresses.
</p>
