<div class="interface">
    <h1>Instructions</h1>
    The goal of chess is to capture the enemy king. Once that is done, the game will end and the winner declared.
    <br>A player captures an enemy piece by moving their piece to their tile. Captured pieces are removed from the game.
    <br>Each player does always one move each turn. Skipping isn't possible. White player always starts the game.
    <br><h1>Pieces</h1>
    <table>
    <tr>
        <td><img src='images/chess/white-pawn.png'></td>
        <td><b>Pawns</b> are the most common piece. Pawns can move 1 square forward if it isn't occupied by another piece. 
        On the first move they can alternatively move 2 squares.
        <br>Pawns can only capture pieces that are on diagonal squares in front of them.
        <br>Once a pawn reaches other end of the board, it is automatically promoted to queen.</td>
    </tr>
    <tr>
        <td><img src='images/chess/white-knight.png'></td>
        <td><b>Knights</b> can move to any of the closest squares that aren't horizontal, vertical or diagonal. 
        <br>Their moves form L shape: 2 forward, 1 left/right. Knights can jump over other pieces.</td>
    </tr>
    <tr>
        <td><img src='images/chess/white-rook.png'></td>
        <td><b>Rooks</b> can move horizontally and vertically to any direction any number of squares, but can't jump over other pieces.</td>
    </tr>
    <tr>
        <td><img src='images/chess/white-bishop.png'></td>
        <td><b>Bishops</b> can move diagonally to any direction any number of squares, but can't jump over other pieces.</td>
    </tr>
    <tr>
        <td><img src='images/chess/white-queen.png'></td>
        <td><b>Queens</b> have same moves as rooks and bishops (all horizontal, vertical and diagonal squares).</td>
    </tr>
    <tr>
        <td><img src='images/chess/white-king.png'></td>
        <td><b>King</b> is the most valuable piece - once the king is captured, the game ends.
        <br>King can move one square to any direction.</td>
    </tr>
    </table>

</div>