<article [class.private]="data.isPrivate">
  <div class="username">
    {{data.username}}
    <span *ngIf="data.username == 'Voya'">Site Admin</span>
    <span *ngIf="data.isPrivate">
      <i>Private message</i>
    </span>
  </div>
  <div class="comment-content">
    <span class="post-date">
      {{data.postTime}}
      <span *ngIf="data.postTime != data.updateTime">, edited at {{data.updateTime}}</span>
    </span>
    <hr>
    <div [innerHtml]="data.message"></div>
  </div>
</article>
