<div class='banner-container'>
  <div class='img-container'>
  <a [routerLink]="activeProject.path" [title]="activeProject.name"><img [src]="activeProject.bannerUrl" [alt]="activeProject.name"></a>
  </div>
  <div class='button-container'>
    <button class='left' (click)="change(this.id-1, true)"><span class='left-arrow'></span></button>
    <button class='circle' *ngFor="let project of projects; let i = index" [class.active]="i === id" (click)="change(i, true)"></button>
    <button class='right' (click)="change(this.id+1, true)"><span class='right-arrow'></span></button>
  </div>
</div>