<div class="interface">
  <h1>Settings</h1>
  Change piece layout<br>
  <form autocomplete="off">
    <table>
      <tr>
        <td>Row 1: <input type='text' maxlength='8' size='8' [(ngModel)]="upperRow" name="upperRow">
        <td rowspan='2'>P: Pawn<br>R: Rook<br>X: King</td>
        <td rowspan='2'>K: Knight<br>B: Bishop<br>Q: Queen</td>
      </tr>
      <tr>
        <td>Row 2: <input type='text' maxlength='8' size='8' [(ngModel)]="lowerRow" name="lowerRow"></td>
      </tr>
    </table>
  </form>
  <label title='Turns game board 90 degrees'><input type="checkbox" [(ngModel)]="boardReversed"> Reversed board</label>
  <li title='Changing settings will reset the game.' (click)="saveSettings()">Save settings</li>
  <li title='Puts pieces to their original places and resets the game.' (click)="resetLayout()">Reset layout</li>
</div>