
.bordered_box {
    background: #7bcafc none repeat scroll 0 0;
    border: medium solid #0d3049;
    margin: 5px;
    padding: 5px;
}
.nodrag, nav {
    user-select: none;
    -moz-user-select: none;
}
html, body {
    background: #56aff7 none repeat scroll 0 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
article {
    box-sizing: border-box;
    font-family: arial,helvetica,clean,sans-serif;
    margin: auto;
    max-width: 1000px;
    min-width: 360px;
    padding: 5px;
    width: 100%;
}
h1 {
    font-size: 138.5%;
    margin-bottom: 14px;
    margin-top: 14px;
}
h1, h2 {
    font-family: Times New Roman;
}
nav {
    background: #2382c6 none repeat scroll 0 0;
    border-bottom: medium solid #0d3049;
    border-right: medium solid #0d3049;
    border-top: medium solid #0d3049;
    box-sizing: border-box;
    margin: auto;
    max-width: 1000px;
    min-width: 360px;
    width: 100%;
}
nav > ul {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav > ul > li {
    align-content: stretch;
    align-items: stretch;
    border-left: medium solid #0d3049;
    box-sizing: border-box;
    display: flex;
    flex-basis: 20%;
    flex-grow: 1;
    list-style: outside none none;
    table-layout: fixed;
}
nav > ul > li > a {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    display: flex;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
@media (min-width: 600px) {
nav > ul > li > a {
    padding: 10px 3px;
}
}
nav > ul > li > a:hover {
    background-color: #7bcafc;
}
nav > ul > li > a div {
    font-size: 15px;
    text-align: center;
    width: 100%;
}
@media (min-width: 600px) {
nav > ul > li > a div {
    font-size: 20px;
}
}
#site_logo {
    min-width: 360px;
    text-align: center;
}
#site_logo img {
    max-width: 100%;
}
footer {
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

@media (min-width: 600px) {
  #left {
      width: 60%;
  }
}
@media (min-width: 600px) {
  #right {
      max-width: 40%;
      padding-left: 30px;
  }
}