<blog-post *ngIf="previewBlog" [blogData]="previewBlog" [minimizable]="false" [visible]="true"></blog-post>

<table class="blog-form">
    <tr class="row">
      <td class="first-cell">Title:</td>
      <td>
        <input class="title" maxlength="45" size="75" name="title" tabindex="1" type="text" [(ngModel)]="blog.name" [disabled]="loading">
      </td>
    </tr>
    <tr class="row">
      <td>Message:</td>
      <td>
        <textarea-with-tags [(message)]="blog.text" [disabled]="loading" [maxWidth]="600"></textarea-with-tags>
      </td>
    </tr>
    <tr class="row">
      <td colspan="2" style="text-align:center;">
        <div class="error" *ngIf="error || previewError">{{error || previewError}}</div>
        <div class="success" *ngIf="success">{{success}}</div>
        <button (click)="getPreview()" [class.disabled]="loading || previewLoading" [disabled]="loading" title="Shows what the blog would look like if posted.">Preview</button>
        <button (click)="submitPress()" [class.disabled]="loading" [disabled]="loading">Submit</button>
      </td>
    </tr>
  </table>