@import "../../../sass/variables";

:host{
  background: $color_main2;
  flex-grow: 1;
  display: block;
  min-width: $min_width;
}

footer{
  width:100%;
  min-height: 100px;
  height: 100%;
  border-top: 3px solid $color_dark2;
  box-sizing: border-box;
}

.content{
  max-width: $max_width;
  min-width: $min_width - 20px;
  text-align: center;
  padding: 10px;
  margin:auto;
  position: relative;
  box-sizing: border-box;
}

.links{
  position: absolute;
  right: 20px;
  img{
    margin: 5px;
    &:hover{
      opacity: 0.6;
    }
  }
  #github{
    height: 32px;
  }
}