<div class="banner-container">
  <div class="img-container" [style.width]="projects.length * 100 + '%'" [style.left]="id * -100 + '%'">
    <a *ngFor="let project of projects" [routerLink]="project.path" [title]="project.name">
      <img [src]="project.bannerUrl" [alt]="project.name" [style.width]="100 / projects.length + '%'">
    </a>
  </div>
  <div class="button-container">
    <button class="left" (click)="change(this.id-1, true)">
      <span class="left-arrow"></span>
    </button>
    <button class="circle" *ngFor="let project of projects; let i = index" [class.active]="i === id" (click)="change(i, true)"></button>
    <button class="right" (click)="change(this.id+1, true)">
      <span class="right-arrow"></span>
    </button>
  </div>
</div>
