@import "../../../../sass/variables";

:host{
  @extend %nodrag;
  display: inline-block;
  margin: 5px;
}

label{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 5px 0;
  min-width: 120px;
  input{
    width: 50px;
  }
}

color-slider{
  margin-right: 5px;
}
