@import "../chess-variables";

:host{
  display:block;
  border: 2px solid black;
  background:silver;
  margin:auto;
  max-width: 800px;
  @extend %clearfix;
}

.container{
  max-width: 640px;
  width: 80%;
  padding-top: 80%;
  background: black;
  position: relative;
  float: left;
  border-left:3px solid black;
}

.side-menu{
  width: 20%;
  height: 100%;
  max-width: 160px;
  float: left;
  padding:3px;
  padding-right:6px;
  margin-right:-3px; // Counters space taken by container's border
}

#win-screen, chess-settings, chess-choose-mode{
  @extend %absolute-center;
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  width: 320px;
  height: 240px;
  background: silver;
  border: 5px solid gray;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}
#win-screen,  #instructions-screen{
display:none;
}

#instructions-screen{
width:640px;
height:640px;
position: absolute;
background: silver;
left:0px;
top:0px;
border: 5px solid gray;
border-radius: 5px;
text-align: center;
}
#instructions-screen img{
width:50px;
height:50px;
}
#instructions-screen table td{
text-align:left;
}
#instructions-screen table td:first-child{
vertical-align:top;
}

.close-button{
position:absolute;
right:0px;
border-left:3px solid gray;
border-bottom:3px solid gray;
padding:2px;
background:#eeeeee;
}