<section class="side-menu interface">
  <table>
    <tr><td colspan="2"><b>Game stats</b></td></tr>
      <tr><td colspan="2" id="turn">{{activePlayerName()}}'s turn</td></tr>
      <tr><td>Round:</td><td>{{game.round}}</td></tr>
      <tr><td>White:</td><td>{{game.whitePlayer?.pieces.length}} pieces</td></tr>
      <tr><td>Black:</td><td>{{game.blackPlayer?.pieces.length}} pieces</td></tr>
  </table>
  <li class="play-again" title="Resets the game." (click)="reset()">Reset game</li>
  <li class="lobby-button" title="Challenge other players." (click)="switchDialog('lobby')">Lobby</li>
  <li class="game-mode-button" title="Choose game mode." (click)="switchDialog('chooseMode')">Game mode</li>
  <li class="settings-button" title="Change piece layout." (click)="switchDialog('settings')">Settings</li>
  <li class="instructions-button" title="Read the instructions." (click)="switchDialog('instructions')">Instructions</li>
  Timer: {{timer}}
</section>

<section class="container">
  <router-outlet></router-outlet>
  <section class="dialog-container">
    <chess-choose-mode *ngIf="visibleDialog === 'chooseMode'" (close)="switchDialog('')" [@fadeIn]></chess-choose-mode>
    <chess-settings *ngIf="visibleDialog === 'settings'" (close)="switchDialog('')" [@fadeIn]></chess-settings>
    <chess-instructions *ngIf="visibleDialog === 'instructions'" (close)="switchDialog('')" [@fadeIn]></chess-instructions>
    <chess-multiplayer *ngIf="visibleDialog === 'lobby'" (close)="switchDialog('')" [@fadeIn]></chess-multiplayer>
    <chess-winner-dialog *ngIf="visibleDialog === '' && game.winner != null" (switchDialogEvent)="switchDialog($event)" [@fadeIn]></chess-winner-dialog>
  </section>
</section>