@import '../../rps-variables';

:host{
  position: relative;
  display: block;
  min-height: 300px;
}

section{
  @extend %rps-box;
  margin: auto;
  position: relative;
  text-align: center;
  padding: 10px;
}
.rps-dialog{
  margin-top: 20px;
  height: 150px;
  max-width: 400px;
}

.rps-round-result{
  text-align: center;
  section{
    max-width: 400px;
    margin: auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom:20px;
    p{
      vertical-align: middle;
    }
  }
}

a{
  display: block;
  background: white;
  text-align: center;
  padding:3px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    background: $hoverColor;
    color:white;
  }
}

.images{
  position: absolute;
  top:0;
  height:100%;
  width:100%;
  text-align: center;

  img{
    margin-top: 80px;
    max-width: 40%;
  }

  .image1{
    float:left;
    margin-left: 30px;
  }
  .image2{
    float:right;
    margin-right: 30px;
  }
}