:host{
  display: block;
  max-width: 780px;
  width: 100%;
  min-height: 470px;
  background-color: cadetblue;
  color: powderblue;
  border: solid #0d3049;
  margin: auto;
}

main{
  min-height: 350px;
}

%rps-box{
  background-color: darkcyan;
  border: 4px solid lightseagreen;
  border-radius: 10px;
}

.score {
  @extend %rps-box;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 34px;
  line-height: 70px;
}


.rps-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align:center;
  height: 120px;
  max-width: 760px;
  padding: 15px 10px 0px 10px;
  h1{
    @extend %rps-box;
    height: 70px;
    width: 400px;
    font-weight: normal;
    text-align: center;
    display:inline-block;
    border-radius: 90px;
    font-size: 40px;
    line-height: 70px;
    @media screen and (max-width: 700px){
      font-size: 30px;
    }
    @media screen and (max-width: 630px){
      display: none;
    }
  }
}

.playerData, .computerData{
  display: flex;
  align-items: center;
  img{
    @extend %rps-box;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
  p{
    @extend %rps-box;
    display: block;
    height: 40px;
    width: 80px;
    margin-top: 0px;
    font-size: 17px;
    line-height: 40px;
  }
}

.playerData .score{
  float: right;
}
.computerData .score{
  float: left;
}