<div class="interface">
  <h1>Multiplayer lobby</h1>
  <div *ngIf="!isLoggedIn()">
    <form (submit)="login()">
      Username:
      <input type="text" name="username" [(ngModel)]="username">
      <button title="Login" type="submit">Login</button>
    </form>
  </div>
  <div *ngIf="isLoggedIn()">
    Users:
    <div *ngFor="let user of getUsers()">
      <div *ngIf="user !== username">
        {{user}} 
        <button (click)="challengePlayer(user)">Challenge</button>
      </div>
    </div>
  </div>
</div>
<div class="interface" *ngIf="challengeSent">
  <div *ngIf="!challengeDeclined">
    Challenge sent to {{challengedPlayer}}.
    <br>Waiting response...
  </div>
  <div *ngIf="challengeDeclined">
    User {{challengedPlayer}} declined the challenge.
    <button (click)="challengeSent = false">Return</button>
  </div>
</div>

<div *ngIf="challenge">
  User {{challenge.username}} has sent you a challenge:
  <br>Time limit: {{challenge.timeLimit}}
  <br>
  <button (click)="acceptChallenge()">Accept</button>
  <button (click)="denyChallenge()">Decline</button>
</div>

<button (click)="close.emit()">Close</button>