<h1>Slay the Dragon!</h1>
<iframe src="projects/slay-the-dragon/old/index.html"></iframe>
<description-box>
  In this game you have one objective: Slay the Dragon! In order to do that you will need to obtain the dragon slaying equipment,
  level up your skills and defeat all enemies that stand in your way. Game instructions are in the game.
  <br><br>Made with Javascript/jQuery in summer 2014. Sound effects added and bug fixes made in January 2016.
  <br><br>Note: Sound effects don't work in Internet explorer.
  <br><br>Note 2: The game won't scale properly on smaller screens. This will be fixed in future rewrite.
  <br><br>Update (13.1.2016): Mute button added
</description-box>